@page
@model Adventure.Pages.StartModel
@{
    ViewData["Title"] = "Start";
}

<h1>Start</h1>

@foreach (var a in Model.Paths)
{
    <a class="btn btn-primary" asp-page="", asp-route="@a.To">Jdi sem</a>
}

